{% extends 'base.html' %}
{% block body %}
<div class="container mb-3 w-25 my-5 text-nowrap" style="margin: auto;">
    <h1>Welcome {{request.session.user}} !</h1>
</div>
<hr>
<div class="container">
    <p>Simmi Foundation envisions to develop a society based on legitimate rights,
        equity, justice, honesty, social sensitivity and a culture of service in which
        all are self-reliant.We look forward to alleviate poverty and enhance the dignty
        of poor in the world by addressing basic, but neglected issues of poor.
        Education is one of the means through which we can acheive our goals.
        Women Empowerment is another mode of development, as women are an important
        section of our society and their empowerment can bring socio-economic and
        political progress of the country.
    </p>
</div>
{% endblock %}